---
layout: default
header_background_image: /assets/images/ilha-do-mel-parana-001.jpg
---
<section class="container mx-auto py-12 px-4 md:px-12">
  <div class="flex flex-col md:items-start md:flex-row gap-8 mb-12">
    <h1 class="font-bold font-heading text-7xl md:text-8xl lg:text-9xl text-yellow-400 lg:text-right uppercase mb-8 md:mb-0" style="line-height: 0.93;">
      Re<br>co<br>nec<br>ta!
    </h1>
    <div class="flex flex-col justify-end">
      <div class="flex flex-col gap-2 justify-start items-start mb-4">
        <p class="atf-text font-light">Exposição fotográfica e mostra literária</p>
        <p class="atf-text font-bold">13/06 a 30/07</p>
        <p class="atf-text font-bold">The Oak Wine & Beer</p>        
      </div>
      <p class="text-gray-100 font-body font-light text-base md:text-lg mb-4">
        Imagens que trazem uma mensagem visual e escrita. Fotógrafxs e escritores curitibanos se reunem com o intuito de causar uma interAÇÃO com o público através de suas imagens e textos. O mundo que vivemos hoje passa por sérias questões, que trazem inúmeras consequências negativas para a vida das pessoas. Como se manter firme e continuar acreditando que podemos mudar esse cenário? Como resgatar a esperança nas pessoas e cuidar do Planeta que vivemos?<br><br>
        São questões assim, que permeiam essa exposição.<br>
        Um suspiro de esperança e positividade.<br>
        Uma luz Solar no fim do túnel.<br>
        Um brilho.<br>
        Um chamado de amor e paz.
      </p>    
      <div class="flex flex-wrap items-center justify-between gap-2 mb-12">
        <span class="atf-artist text-gray-200"> | </span>
        {% for artist in site.data.creators.photographers %}
        <p class="atf-artist text-yellow-400">{{artist.name}}</p>
        <span class="atf-artist text-gray-200"> | </span>
        {% endfor %}
        {% for artist in site.data.creators.poets %}
        <p class="atf-artist text-yellow-400">{{artist.name}}</p>
        <span class="atf-artist text-gray-200"> | </span>
        {% endfor %}        
      </div>
    </div>
  </div>
  <h2 class="font-heading uppercase text-center sm:text-left font-bold text-2xl text-gray-200 mb-6">
    Realização e Apoio:
  </h2>
  <div class="flex flex-wrap gap-8 justify-between items-center mb-12">
    <div class="partner-logo">
      <img src="/assets/images/the-oak.png" alt="logo the oak wine beer">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/ondaeco.png" alt="logo onda eco png">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/clube-do-arquiteto.png" alt="logo clube do arquiteto curitiba">
    </div>
    <div class="partner-logo">
      <img src="assets//images/labadee.png" alt="logo labadee">
    </div>
  </div>
  <div class="flex flex-wrap items-start">
    
    {% for item in site.art %}
    {% assign name = item.artist %}
    {% assign creator = site.data.creators.photographers | where_exp: "artist", "artist._nickname contains name" %}
    
    <a href="{{item.url}}" class="p-2 w-full md:w-1/2 lg:w-1/3">
      <div class="flex flex-col overflow-hidden rounded-md art-card">
        <div class="h-96 overflow-hidden">
          {% picture jpt-webp "{{item.image | default: '/assets/images/placeholder.jpg'}}" --img alt="{{item.title}}" class="object-cover w-full h-full" loading="lazy" %}          
        </div>
        <div class="flex flex-col gap-4 bg-gray-300 p-6">
          <h3 class="flex-1 font-heading font-bold text-2xl text-gray-800">
            {{item.title}}
          </h3>
          {% for artist in creator %}
          <div class="flex-1 flex gap-4 items-center">
            <div class="h-10 w-10 rounded-full overflow-hidden border-2 border-yellow-400">
              <img src="{{artist.profile_image | default: '/assets/images/user.png'}}" alt="foto de {{artist.name}}" class="object-cover w-full h-full">
            </div>
            <p class="font-body">
              {{artist.name}}
            </p>
          </div>
          {% endfor %}
          <div class="flex-1 flex gap-2">
            <p class="text-xs sm:text-sm md:text-base font-body">
              {{item.dimensions}}
            </p>
            <span class="text-xs sm:text-sm md:text-base">|</span>
            <p class="text-xs sm:text-sm md:text-base font-body">
              Tiragem limitada 1/{{item.number_of_prints}}
            </p>
          </div>
          <p class="flex-1 text-xs sm:text-sm md:text-base font-body">
            Impressão em papel {{item.print_standard}}
          </p>
          <div class="flex-1 flex gap-2 items-center">
            <p class="font-body">Qualidade </p>
            <div class="w-24">
              {% picture jpt-webp "/assets/images/farbewerk.png" --img alt="farbewerk logo" class="object-contain w-full h-full"%}              
            </div>
          </div>
          {% for artist in creator %}
          <p class="flex-1 font-body text-xs">
            Imagem © {{artist.name}} | Todos os direitos reservados
          </p>
          {% endfor %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>