<!DOCTYPE html>
  <html lang="en">
    {% include essentials/head.html %}
    <body class="min-h-screen flex flex-col overflow-x-hidden bg-gray-800">
      <div class="flex-1 md:py-8">
        {{ content }}
        <div class="container mx-auto py-4 px-4">
          <p class="text-sm text-yellow-400 font-body font-light mb-2">Todas as imagens e textos sob copyright dos artistas.</p>
          <p class="text-sm text-yellow-400 font-body font-light">Website desenvolvido por <a href="https://instagram.com/schiavon.gus" rel="noopener noreferrer" target="_blank" class="text-green-400 hover:text-green-600 transition-colors font-regular">Gus Schiavon</a>.</p>
        </div>
      </div>
      {{site.data.settings.configuration.body_code_block}}
      {% include essentials/scripts.html %}
    </body>
  </html>