---
layout: default
description_html: Imagens de artistas curitibanos expostas durante a exposição RECONETA! no The Oak Wine e Beer
---
<div class="container mx-auto mb-2">
  <a href="/" class="inline-block font-body text-base p-4 md:text-2xl font-light underline text-yellow-400 w-16"><img src="/assets/graphics/home_FILL0_wght400_GRAD0_opsz48.svg" alt="home icon" class="object-contain w-full h-full"></a>  
</div>
{% assign pname = page.artist %}
{% assign coname = page.co-artist %}
{% assign creator = site.data.creators.photographers | where_exp: "artist", "artist._nickname contains pname" %}
{% assign cocreator = site.data.creators.poets | where_exp: "artist", "artist._nickname contains coname" %}
{% for artist in creator %}

<main class="container mx-auto px-12 py-12 bg-gray-100 md:border-2 border-gray-500 shadow-lg md:rounded-md md:mb-6">
  <div class="flex flex-col gap-8 mb-6">    
    <div class="h-50 md:h-96 overflow-hidden rounded-md flex-shrink-0" >
      {% picture jpt-webp "{{page.image | default: '/assets/images/placeholder.jpg'}}" --img id="img-src" class="object-cover md:object-contain w-full h-full" %}
    </div>
    <p class="text-xl lg:text-2xl font-light">{{page.description_html}}</p>    
    <div class="flex flex-col gap-2">
      <h1 id="feat-img" class="feat-image-title" data-feat-img-title="{{page.title}}">{{page.title}}</h1>
      <div>
        <p class="feat-image-artist">{{artist.name | prepend: "Imagem de "}}</p>  
        {% for co in cocreator %}    
        <p class="feat-image-artist">{{co.name | prepend: "Texto por "}}</p>
        {% endfor %}      
      </div>
      <p class="text-lg font-bold">Especificações:</p>
      <ul>
        <li id="art-dimensions" class="text-sm list-inside list-disc">{{page.dimensions | prepend: "Dimensões: "}}</li>
        <li id="art-standard" class="text-sm list-inside list-disc">{{page.print_standard | prepend: 'Impressão em papel '}}</li>
        <li class="text-sm list-inside list-disc">Montagem com vidro anti-reflexo</li>        
        <li id="art-prints" class="text-sm list-inside list-disc">{{page.number_of_prints | prepend: 'Tiragem limitada a ' | append: ' impressões'}}</li>      
      </ul>

      <div class="flex gap-2 items-center mb-5">
        <p>Impressões com qualidade </p>
        <div class="w-24">
          {% picture jpt-webp "/assets/images/farbewerk.png" --img alt="farbewerk logo" class="object-contain w-full h-full"%}          
        </div>
      </div>
      <p id="art-price" class="feat-image-price">{{page.price | prepend: "R$" }}</p>
      <div class="flex flex-col md:flex-row gap-2 mb-6">
        <a id="checkout-btn" href="/checkout" class="px-3 py-2 inline-flex items-center text-gray-700 bg-yellow-400 hover:bg-yellow-200 transition-colors uppercase">
          Compre agora
        </a>
        <a id="wa-tel" href="https://wa.me/{{artist.whatsapp}}" target="_blank" class="px-3 py-2 inline-flex items-center gap-1 text-gray-700 border-2 border-yellow-400 hover:bg-yellow-600 transition-colors uppercase">Entre em contato 
          <div class="inline-block w-4 h-4">
            {% include social-icons.html icon="WhatsApp" fill="#333" %}
          </div>
        </a>
      </div>
      <p class="text-xs">
        Imagem © {{artist.name}} | Todos os direitos reservados.
      </p>
      {% for co in cocreator %}
      <p class="text-xs">{{co.name | prepend: "Texto © " | append: ' | Todos os direitos reservados.'}}</p>
      {% endfor %}
    </div>
  </div>  
</main>
<section class="container mx-auto py-12 px-12 bg-gray-700 shadow-lg md:rounded-md md:mb-6">
  <div class="flex flex-col md:flex-row items-start justify-start gap-8 mb-6">
    <div class="flex flex-col flex-shrink-0 gap-4">
      <div class="rounded-full h-32 w-32 overflow-hidden" >
        {% picture jpt-webp "{{artist.profile_image | default: '/assets/images/user.png' }}" --picture class="object-cover w-full h-full" --img alt="{{artist.name}} foto de perfil" %}        
      </div>
      <h2 id="artist-name" class="font-bold text-4xl text-gray-200 border-b-2 border-yellow-500" data-email="{{artist.email}}" data-wa="{{artist.whatsapp}}" data-payment-code="{{artist.pixCode}}">
        {{artist.name}}
      </h2>
      <div class="flex flex-row items-center justify-items-start gap-3">
        <a href="{{creator.website | default: '/'}}" class="w-8 h-8">
          <img src="/assets/graphics/language_FILL0_wght400_GRAD0_opsz48.svg" alt="" class="object-cover w-full h-full">
        </a>
        <a href="https://instagram.com/{{creator.instagram}}" class="w-8 h-8">
          <img src="/assets/graphics/instagram.svg" alt="" class="object-cover w-full h-full">
        </a>
      </div>
    </div>
    <p class="font-light text-gray-200">{{artist.bio}}</p>
  </div>
</section>
{% for coartist in cocreator %}
<section class="container mx-auto py-12 px-12 bg-yellow-500 shadow-lg md:rounded-md md:mb-6">
  <div class="flex flex-col md:flex-row items-start justify-start gap-8 mb-6">
    <div class="flex flex-col flex-shrink-0 gap-4">
      <div class="rounded-full h-32 w-32 overflow-hidden" >
        {% picture jpt-webp "{{coartist.profile_image | default: '/assets/images/user.png' }}" --picture class="object-cover w-full h-full" --img alt="{{coartist.name}} foto de perfil" %}        
      </div>
      <h2 class="font-bold text-4xl text-gray-100 border-b-2 border-white-400">
        {{coartist.name}}
      </h2>
      <div class="flex flex-row items-center justify-items-start gap-3">
        <a href="{{coartist.website | default: '/'}}" class="w-8 h-8">
          <img src="/assets/graphics/language_FILL0_wght400_GRAD0_opsz48.svg" alt="" class="object-cover w-full h-full">
        </a>
        <a href="https://instagram.com/{{coartist.instagram}}" class="w-8 h-8">
          <img src="/assets/graphics/instagram.svg" alt="" class="object-cover w-full h-full">
        </a>
      </div>
    </div>
    <p class="font-light text-gray-50">{{coartist.bio}}</p>
  </div>
</section>
{% endfor %}
<section class="container mx-auto py-12 px-12 bg-gray-100 md:border-2 border-gray-500 md:rounded-md shadow-lg">
  <h2 class="font-bold text-2xl mb-6 text-yellow-600 uppercase">Mais imagens por {{artist.name}}:</h2>  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% assign other_images = site.art | where_exp: "item", "item.artist contains pname"%}
    {% for item in other_images %}
    <a href="{{item.url}}" class="col-span-1 transform hover:-translate-y-1 transition-all">
      <div class="flex flex-col shadow-md transform hover:shadow-xl transition-shadow">
        <div class="h-30 lg:h-40 overflow-hidden rounded-t-md" >
          {% picture jpt-webp "{{item.image | default: '/assets/images/placeholder.jpg'}}" --img class="object-cover w-full h-full" loading="lazy" %}          
        </div>
        <div class="flex flex-col justify-between gap-4 bg-gray-300 p-6 rounded-b-md">
          <h3 class="font-bold text-2xl">{{item.title}}</h3>
          <div class="flex gap-2">
            <p class="art-info-text">
              {{item.dimensions}}
            </p>
            <span>|</span>
            <p class="art-info-text">
              Tiragem limitada 1/{{item.number_of_prints}}
            </p>
          </div>
          <p class="art-info-text">
            Impressão em papel {{item.print_standard}}
          </p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endfor %}
<script>
  const imgId = document.getElementById('feat-img');
  const imgSrc = document.getElementById('img-src');
  const imgDimensions = document.getElementById('art-dimensions');
  const imgStandard = document.getElementById('art-standard');
  const imgPrice = document.getElementById('art-price');
  const imgAuthor = document.getElementById('artist-name');  
  let imgTitle = imgId.dataset.featImgTitle;
  let imgUrl = imgSrc.src;
  let price = imgPrice.innerText;
  let dimensions = imgDimensions.innerText;
  let standard = imgStandard.innerText;
  let artist = imgAuthor.innerText;
  let email = imgAuthor.dataset.email;
  let wa = imgAuthor.dataset.wa;  
  let code = imgAuthor.dataset.paymentCode;
  let artInfo = {
    "title": imgTitle,
    "email": email,
    "whatsapp": wa,
    "author": artist,
    "src": imgUrl,
    "price": price,
    "dimensions": dimensions,
    "standard": standard,
    "payment": code
  }    
  
  const checkoutBtn = document.getElementById('checkout-btn');

  checkoutBtn.addEventListener('click', function(){        
    let artJSON = JSON.stringify(artInfo);
    sessionStorage.setItem('image',artJSON);
  });
</script>